<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>PostUpdate.html</h1>
    <!-- 세션에 userId 가 있으면 로그아웃 버튼 표시 -->
    <div th:if="${userInfo != null}">
        <span th:text="${userInfo.username}">username</span>님 반갑습니다.
        <form th:action="@{/logout}">
            <button>로그아웃</button>
        </form>
    </div>
    <!-- 세션이 없으면 로그인 버튼 표시 -->
    <div th:unless="${userInfo != null}">
        <a th:href="@{/login}">로그인</a>
    </div>
    <hr>
    <form th:action method="post" th:object="${post}">
        <label for="title">제목</label>
        <input type="text" id="title" name="title" th:field="*{title}">
        <label for="body">내용</label>
        <input type="text" id="body" name="body" th:field="*{body}">

        <!-- 작성자가 아닐 때만 좋아요 버튼 표시 -->
        <input th:if="${userInfo['userId'] != post.userId}"
               type="submit" value="좋아요">

    </form>

    <!-- 세션 userId와 게시글 작성자 id가 같을 때만 삭제 버튼 표시 -->
    <form th:if="${userInfo['userId'] == post.userId}"
          th:action="@{/posts/delete/{postId}(postId=${post.postId})}" method="POST">
        <button>삭제</button>
    </form>
</body>
</html>